@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color: #533738;
  background-color: #E5E5E5;
}

h1 {
  font-size: 50px;
  Line-height: 62px;
  margin-bottom: 0;
}

h2 {
font-size: 40px;
Line-height: 50px;
}

h3 {
    font-size: 30px;
    font-weight: 500px;
}

p, .applicatian h1 {
  text-align: left;
}

.container-1 {
  height: 100vh;
  background: url(../images/anastasiya-vysotskaya-v5GfetB7Yv0-unsplash1.jpg) no-repeat center;
  background-size: cover;

}

.navigation {
  display: grid;
  grid-template-columns: 5px 1fr;
  column-gap: 75px;
  margin-right: 116.37px;
  }

  .navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 16px;
  margin-top: 38px;
  }

.logo {
margin-left: 98.31px;
margin-top: 38px;
padding: 0;
}

  a {
  text-decoration: none;
  color: #533738;
    }

    li {
      list-style: none;
      text-align: center;
    }

.applicatian {
  display: grid;
  grid-template-columns: 534.02px;
  margin-left: 185.09px;
  margin-top: 94px;
  }

.text {
  margin-top: 24px;
}

input[name="buttonZ"] {
background-color: #CC8B86;
border: none;
padding: 25px 67px;
font-size: 20px;
color: #533738;
}

.container-2 {
display: grid;
grid-template-columns: 444.54px 528px;
column-gap: 61.69px;
justify-content: center;
}

.about-us {
margin-top: 65px;
}

.background {
  height: 273px;
  background: #8D7370;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.container-3 {
  color: #fff;
  display: table;
  border: none;
  padding-top: 85px;
  padding-bottom: 81px;
  width: 100%;
  }

.row {
display: table-row;
}
.cell {
  display: table-cell;
}
.record {
   padding-top: 16px;
}

.worksh2 {
  margin-left: 14%;
  margin-top: 65px;
  text-align: left;
}

.imgworks {
display: block;
margin: 30px 20px;
}

.container-4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}

.firstcolumn {
  background: #644845;
  opacity: 0.8;
  width: 488px;
  height: 451px;
  margin-top: -30px;
}

.firstcolumn1 {
  margin: 30px 20px;
  color: #fff;
  background: url(../images/image55.jpg) no-repeat;
  }


.firstcolumnh3 {
  padding-left: 109px;
  padding-right: 109px;
  padding-top: 86px;
}

.firstcolumnp {
  padding-left: 35px;
  padding-right: 42px;
}
.team {
  background-color: #E2C4BA;
  height: 998px;
  margin-top: 65px;
}

.team1 {
  margin-bottom: 35px;
}

.teamh2 {
  padding-top: 50px;
}

.allteam {
  display: table;
  border: none;
  margin-top: 42px;
  margin-left: auto;
  margin-right: auto;
}

.allteam .cell {
  width: 320px;
  padding: 0 38px;
}

.girlabout.cell {
  text-align: left;
}

.doworks {
width: 285px;
text-align: center;
margin-top: 20px;
}

.numberp {
  width: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
color: #fff;
font-size: 30px;
line-height: 30px;
text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.numberp {
    text-align: center;
    background: #8D7370;
  border-radius: 50%;
}

.howworks {
  display: grid;
  grid-template-columns: 285px 285px 285px 285px;
  justify-content: center;
  margin-top: 40px;
}

p.cell {
text-align: center;
}

.feedbackh2 {
  margin-top: 65px;
}

.container5 {
    display: grid;
    grid-template-columns: 407px 407px;
    column-gap: 20px;
    justify-content: center;

}
.d1 {
margin-top: 125px;
}

.d2 {
  margin-top: 40px;
}
.d2 img {
  margin-bottom: 20px;
}


input[type="text"] {
  color: #F6EDE9;
  border: none;
  background-color: #8D7370;
}

.border {
  color: #F6EDE9;
margin-bottom: 31px;
margin-top: 35px;
  border-bottom: solid 1px #fff;
}
.order {
  background-color: #8D7370;
  height: 624px;
}

.container6 {
  display: grid;
  grid-template-columns: 508px 590px;
  column-gap: 20px;
  justify-content: center;
}

.order {
    color: #fff;
}

.z1 {
  text-align: left;
}

.z1 h2 {
  margin-bottom: 24px;

}

.z1 p:nth-child(2) {
  margin-bottom: 44px;
}

.allZ .buttonZ {
  margin-top: 31px;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 37px 100px;
}

.ip {
  margin-right: 0;
  margin-left: auto;
}

.phone {
  margin-right: 42px;
}
